.movies {
    padding: 70px 70px 28px;
}

@media screen and (max-width: 1279px) {
    .movies {
        padding-bottom: 12px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .movies {
        padding-top: 40px;
        padding-bottom: 13px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* .movies__list {
    list-style: none;
    justify-content: center;
    padding: 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(339px, 360px));
    justify-items: center;
    row-gap: 60px;
    column-gap: 30px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .movies__list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 339px));
    }
}

@media screen and (max-width: 420px) {
    .movies__list {
        grid-template-columns: repeat(auto-fit, 300px);
        row-gap: 39px;
    }
} */

.movies__list {
    list-style: none;
    justify-content: center;
    padding: 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    justify-items: center;
    grid-row-gap: 60px;
    column-gap: 30px;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .movies__list {
        grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    }
}

@media screen and (max-width: 767px) {
    .movies__list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-row-gap: 39px;
    }
}

.movies__error{
    color:rgba(255,64,98,1);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.21;
    width: 100%;
    min-height: 13px;
    margin-top: 10px;
    text-align:center;
}

.movies-more {
    padding: 50px 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .movies-more {
        padding-top: 61px;
        padding-bottom: 89px;
    }
}

@media screen and (max-width: 420px) {
    .movies-more {
        padding-top: 50px;
        padding-bottom: 80px;
    }
}

.movies-more__button {
    transition: opacity .5s ease;
    cursor: pointer;
    border: 0px solid transparent;
    color:rgba(0,0,0,1);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.21;
    background-color: rgba(249,249,249,1);
    border-radius: 6px;
    padding: 11px 0 9px;
    width: 320px;
}

.movies-more__button:hover {
    opacity: .6;
}

@media screen and (max-width: 1279px) {
    .movies-more__button {
        width: 320px;
    }
}

@media screen and (max-width: 767px) {
    .movies-more__button {
        width: 240px;
    }
}
