.searchform {
    padding: 70px 70px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .searchform {
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .searchform {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.searchform__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 29px;
    margin: 0;
    padding: 19px 30px 19px 19px;
    box-shadow: 0px 3px 14px rgba(0,0,0,0.08);
    border-radius: 9px;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .searchform__container {
        grid-gap: 19px;
    }
}

@media screen and (max-width: 767px) {
    .searchform__container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        grid-gap: 46px;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
    }
}

.searchform__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-right: 1px solid rgba(203,203,203,1);
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .searchform__form {
        border-right: 0px solid rgba(203,203,203,1);
        padding: 19px 0 19px 19px;
        box-shadow: 0px 3px 14px rgba(0,0,0,0.08);
        border-radius: 9px;
    }
}

.searchform__info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    padding: 0;
    margin: 0;
}

.searchform__logo {
    width: 34px;
    height: 34px;
    margin: 0 10px 0 0;
}

@media screen and (max-width: 767px) {
    .searchform__logo {
        display: none;
    }
}

.searchform__text {
    width: 100%;
    color:rgba(0,0,0,1);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    border: 1px solid transparent;
    outline-style: none;
    margin: 0 20px 0 0;
}

.searchform__text:focus {
    border-bottom: 1px solid rgba(232,232,232,1);
}

@media screen and (max-width: 767px) {
    .searchform__text  {
        font-size: 14px;
        line-height: 1.42;
    }
}

.searchform__field-error{
    color:rgba(255,64,98,1);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.21;
    width: 100%;
    min-height: 13px;
    margin-top: 10px;
}

.searchform__button {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    border-radius: 48px;
    border: 1px solid transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.63;
    min-height: 34px;
    padding: 0 11px;
    margin: 0 19px 0 0;
    cursor: pointer;
    transition: opacity .5s ease;
}

.searchform__button:hover {
    opacity: .6;
}

.searchform__button_disabled {
    color:rgba(255,255,255,0.7);
    background-color: rgba(0,0,0,0.5);
}

.searchform__filter {
    display: flex;
    justify-content: center;
    align-self: center;
}

.searchform__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    outline-style: none;
}

.searchform__label {
    display: inline-block;
    margin-top: 1px;
    height: 14px;
    position: relative;
    width: 34px;
}

.searchform__visible-checkbox {
    background-color: rgba(203,203,203,1);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border-radius: 20px;
}

.searchform__visible-checkbox:before {
    background-color: rgba(255,255,255,1);
    bottom: 2px;
    content: "";
    height: 10px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 10px;
    border-radius: 50%;
}

.searchform__checkbox:checked + .searchform__visible-checkbox {
    background-color: rgba(43,224,128,1);
}

.searchform__checkbox:checked + .searchform__visible-checkbox:before {
    transform: translateX(20px);
}

.searchform__label-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    display: inline;
    margin-left: 14px;
}

@media screen and (max-width: 767px) {
    .searchform__label-text  {
        font-size: 11px;
        line-height: 1.63;
    }
}

.searchform__line {
    width: 100%;
    border-bottom: 1px solid rgba(232,232,232,1);
    margin-top: 43px;
}

@media screen and (max-width: 1279px) {
    .searchform__line {
        margin-top: 83px;
    }
}

@media screen and (max-width: 767px) {
    .searchform__line {
        margin-top: 19px;
    }
}



