.footer {
    padding: 79px 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer {
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 420px) {
    .footer {
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.footer__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    border-top: 1px solid rgba(232,232,232,1);
    padding-top:20px;
}

@media screen and (max-width: 420px) {
    .footer__container {
        grid-gap: 30px;
        flex-direction: column;
        flex-flow: column-reverse;
        align-items: center;
    }   
}

.footer__nav-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-gap: 20px;
}

@media screen and (max-width: 420px) {
    .footer__nav-items {
        grid-gap: 12px;
        flex-direction: column;
        align-items: center;
    }   
}

.footer__text {
    color: rgba(0,0,0,1);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer__text {
        font-size: 12px;
    } 
}

@media screen and (max-width: 420px) {
    .footer__text {
        color: rgba(160,160,160,1);
    } 
}

.footer__text_info {
    color: rgba(160,160,160,1);
    margin: 0 0 20px 0;
}

.footer__link {
    text-decoration: none;
    transition: opacity .5s ease;
    color:rgba(0,0,0,1);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    cursor: pointer;
}

.footer__link:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .footer__link {
        font-size: 12px;
    }
}